# Ambientes virtuales
.venv/
env/
__pycache__/
*.pyc

# Archivos de caché y logs
.pytest_cache/
*.log
mapa_validacion.html

# Julia
.julia/
Manifest.toml
Project.toml.backup

# Archivos temporales de IDEs
.vscode/
.idea/

# Api
.env

# Archivos temporales de desarrollo
*.md
!README.md
readpf
read_pdf.py
scratch_siata.py

# Archivos de datos espaciotemporales pesados
datos_meteorologicos_viento.json
datos_oficiales_pm25.json
datos_pinn_pm25.json
datos_siata_temporal.json
datos_siata.json
